.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  margin: 0;
}

* {
  font-family: 'Roboto';
}

.promo {
  min-height: 680px;
  background: url(../img/background/bg_1.jpg) center center/cover no-repeat;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.promo__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 37px;
}

.promo__header {
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  color: #ec644b;
  margin: 26px 0 0 0;
}

.promo__subheader {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  margin: 9px 0 0 0;
}

.promo__advantages {
  margin-top: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(255px, auto))[4];
      grid-template-columns: repeat(4, minmax(255px, auto));
  gap: 30px;
}

.promo__item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__item_img_1 {
  padding: 7px 0;
}

.promo__item_img_2 {
  padding: 3px 0;
}

.promo__item_img_3 {
  padding: 4px 0;
}

.promo__item_text {
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

.header {
  position: relative;
  height: 100px;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 1000px;
  height: 100px;
  z-index: 5;
}

.header__contacts {
  position: relative;
}

.header__contacts_text {
  margin-top: 42px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: right;
  color: #ffffff;
  padding-right: 18px;
}

.header__phone {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  padding-right: 18px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-top: 60px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.menu__logo {
  margin-top: 23px;
}

.menu__link {
  padding: 0 12px;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: none;
}

.menu__item {
  border-right: 2px dotted white;
}

.menu__item:last-child {
  border-right: none;
}

.menu .hamburger {
  display: none;
}

.button {
  width: 160px;
  height: 45px;
  margin-top: 44px;
  position: absolute;
  top: 0;
  background-color: #ec644b;
  border-radius: 50px;
  border: none;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.promo__btn {
  width: 230px;
  height: 57px;
  background-color: #ec644b;
  border-radius: 50px;
  border: none;
  position: absolute;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 39px;
  text-transform: uppercase;
}

.delivery__btn {
  margin-top: 25px;
  width: 160px;
  height: 45px;
  border-radius: 50px;
  border: none;
  margin: 25px 50px 0 51px;
  background-color: #ec644b;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.consultation__btn {
  width: 180px;
  height: 45px;
  background-color: #ec644b;
  border-radius: 25px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.consultation__btn_qst {
  border-right: none;
  border-left: none;
}

.footer_btn {
  width: 160px;
  height: 45px;
  margin-top: 31px;
  position: absolute;
  top: 0;
  background-color: #ec644b;
  border-radius: 50px;
  border: none;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  right: 0px;
}

.promo__divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.promo__divider_left {
  height: 2px;
  width: 385px;
  background-color: #fff;
  margin: 38px auto 0 auto;
  position: absolute;
  left: 165px;
}

.promo__divider_right {
  height: 2px;
  width: 385px;
  background-color: #fff;
  margin: 38px auto 0 auto;
  position: absolute;
  right: 165px;
}

.promo__divider_right:before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -5px;
  left: -26px;
}

.divider {
  width: 148px;
  height: 1px;
  background-color: #ffa501;
  margin: 20px auto 0 auto;
}

.title_fz26 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #2e2e2e;
  text-transform: uppercase;
}

.title_fz21 {
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  color: #2e2e2e;
  margin-top: 17px;
}

.title_fz21_work {
  padding: 0 130px 0 130px;
}

.title_fz28 {
  font-size: 28px;
  text-align: center;
  color: #3a3a3a;
}

.title__white {
  margin-top: 50px;
  color: #ffffff;
}

.title__white_mn {
  margin-top: 45px;
}

.subtitle__orange {
  font-size: 16px;
  font-weight: bold;
  color: #ec644b;
}

.subtitle__text {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.42;
  text-align: center;
  color: #ffffff;
}

.advantages {
  padding: 57px 0 51px 0;
  background-color: #f3f3f3;
}

.advantages__wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  -ms-grid-columns: (508px)[2];
      grid-template-columns: repeat(2, 508px);
  -ms-grid-rows: (minmax(65px, auto))[4];
      grid-template-rows: repeat(4, minmax(65px, auto));
  grid-auto-rows: minmax(65px, auto);
  gap: 35px 62px;
  padding-left: 7px;
}

.advantages__wrapper_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px 432px;
      grid-template-columns: 65px 432px;
  -ms-grid-rows: minmax(62px, auto);
      grid-template-rows: minmax(62px, auto);
  -webkit-column-gap: 17px;
          column-gap: 17px;
}

.advantages__text {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #3a3a3a;
  margin-top: 3px;
  line-height: 1.57;
}

.work {
  padding: 51px 0 58px 0;
}

.work__descr {
  margin-top: 37px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[3];
      grid-template-columns: repeat(3, 360px);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-rows: minmax(370px, auto);
      grid-template-rows: minmax(370px, auto);
  grid-auto-rows: minmax(370px, auto);
}

.work__subtitle {
  margin-top: 28px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ec644b;
}

.work__text {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: justify;
  color: #3a3a3a;
}

.work__center {
  text-align: center;
  margin-top: 0;
}

.agent {
  background: url(../img/background/bg_2.jpg) center center/cover no-repeat;
  padding-bottom: 75px;
}

.agent__icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.agent__icons img {
  margin-top: 79px;
}

.agent__icons:before {
  margin-top: 58px;
  content: '';
  position: absolute;
  width: 102px;
  height: 102px;
  border: solid 1px #ffffff;
  border-radius: 50%;
}

.agent__text {
  margin-top: 22px;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.42;
  text-align: center;
  color: #ffffff;
}

.delivery {
  padding: 53px 0 58px 0;
}

.delivery__table {
  margin-top: 34px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (261px)[4];
      grid-template-columns: repeat(4, 261px);
  -webkit-column-gap: 28px;
          column-gap: 28px;
}

.delivery__item {
  border: 1px solid #ececec;
}

.delivery__item_title {
  padding: 24px 0 22px 0;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #25333c;
}

.delivery__item_subtitle {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #2e2e2e;
  font-weight: 500;
}

.delivery__item_price {
  font-size: 28px;
  color: #ec644b;
  text-align: center;
  margin-top: 7px;
}

.delivery__item_text {
  margin-top: 19px;
  font-size: 14px;
  text-align: center;
  line-height: 1.43;
  color: #2e2e2e;
}

.delivery__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.consultation {
  padding-bottom: 76px;
}

.consultation__wrapper {
  position: relative;
  border: 1px solid #898989;
  margin-top: 71px;
}

.consultation__img {
  position: absolute;
  left: 50%;
  top: -35px;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.consultation__circle {
  position: absolute;
  left: 50%;
  top: -51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 12px solid white;
  border-left: 12px solid white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.consultation__triggers {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 82px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-right: 12px solid white;
  border-left: 12px solid white;
}

form {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-top: 68px;
  -ms-grid-columns: (268px)[3];
      grid-template-columns: repeat(3, 268px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

form input {
  width: 210px;
  border-radius: 25px;
  height: 43px;
  border: solid 1px rgba(0, 0, 0, 0.21);
  font-size: 13px;
  font-weight: 300;
  color: rgba(16, 16, 16, 0.7);
  padding: 0px 28px;
  margin-bottom: 58px;
}

#text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  width: 770px;
  height: 70px;
  border-radius: 8px;
  margin-bottom: 87px;
  font-weight: 400;
}

#text::-webkit-input-placeholder {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#text:-ms-input-placeholder {
  transform: translateY(-10px);
}

#text::-ms-input-placeholder {
  transform: translateY(-10px);
}

#text::placeholder {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#name_qst, #number_qst, #email_qst {
  margin-bottom: 8px;
  font-weight: 400;
}

.manager {
  background: url(../img/background/bg_3.jpg) center center/cover no-repeat;
  padding-bottom: 64px;
}

.manager__icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manager__icons img {
  margin-top: 82px;
}

.manager__icons:before {
  margin-top: 58px;
  content: '';
  position: absolute;
  width: 102px;
  height: 102px;
  border: solid 1px #ffffff;
  border-radius: 50%;
}

.scheme {
  padding: 51px 0 46px 0;
  background-color: #f3f3f3;
}

.scheme__wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 33px;
  -ms-grid-columns: (254px)[4];
      grid-template-columns: repeat(4, 254px);
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.scheme__wrapper_2 {
  display: -ms-grid;
  display: grid;
  margin-top: 33px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.scheme__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scheme__icons_heigh {
  padding-bottom: 4px;
}

.scheme__icons_height {
  padding-bottom: 8px;
}

.scheme__descr {
  text-align: center;
  margin-top: 12px;
}

.scheme__text {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 300;
  color: #3a3a3a;
}

.reviews {
  padding: 51px 0 65px 0;
}

.reviews__carousel {
  position: relative;
  width: 601px;
  margin: 0 auto;
  margin-top: 31px;
}

.reviews .slick-prev, .reviews .slick-next {
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  left: 190px;
  border: none;
  background-color: #fff;
}

.reviews .slick-prev img, .reviews .slick-next img {
  width: 15px;
  height: 47px;
}

.reviews .slick-next {
  right: 190px;
  left: auto;
}

.reviews__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__img img {
  width: 114px;
  height: 114px;
}

.reviews__name {
  margin-top: 19px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.reviews__text {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
  color: #3a3a3a;
}

.reviews__text_center {
  text-align: center;
  margin-top: 0;
}

.questions {
  background: url(../img/background/bg_4.jpg) center center/cover no-repeat;
  padding: 62px 0 79px 0;
}

.questions__item {
  max-width: 900px;
  margin: 0 auto;
}

.questions__item_title {
  padding: 20px 0 19px 0;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #25333c;
  font-size: 19px;
}

.questions__item_title span {
  font-size: 14px;
  text-align: center;
  font-weight: 100;
}

.contacts__form_qst {
  background-color: #f7f7f78f;
  padding-top: 18px;
  margin-top: 0;
}

#btn {
  margin-top: 159px;
  border-right: none;
  border-left: none;
}

.footer {
  background-color: #25333c;
  padding: 24px 0 36px 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer__title {
  margin-left: 44px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.footer__contacts {
  margin-left: 250px;
}

.footer__contacts_text {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  color: #ffffff;
}

.footer__phone {
  font-size: 19px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.footer__divider {
  width: 1140px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 26px;
}

.footer__triggers {
  margin-top: 30px;
  text-align: center;
}

.footer__triggers a {
  color: #ec644b;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header {
    padding-left: 20px;
  }
  .header nav {
    width: 740px;
  }
  .header nav .menu {
    margin-top: 43px;
  }
  .header nav .menu__logo img {
    width: 75%;
  }
  .header nav .menu__link {
    font-size: 13px;
    padding: 0 6px;
  }
  .header nav .menu__item {
    border-right: none;
  }
  .header__contacts_text {
    margin-top: 34px;
    font-size: 12px;
  }
  .header__phone {
    font-size: 15px;
  }
  .promo__divider_left {
    width: 300px;
  }
  .promo__divider_right {
    width: 300px;
  }
  .promo__divider_right::before {
    left: -20px;
  }
  .promo__advantages {
    -ms-grid-columns: (225px)[4];
        grid-template-columns: repeat(4, 225px);
    gap: 20px;
  }
  .promo__item_text {
    font-size: 14px;
  }
  .button {
    width: 135px;
    height: 30px;
    margin-top: 41px;
  }
  .advantages__wrapper {
    -ms-grid-columns: 510px;
        grid-template-columns: 510px;
    grid-auto-rows: minmax(65px, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 18px;
  }
  .work__descr {
    -ms-grid-columns: 360px;
        grid-template-columns: 360px;
    grid-auto-rows: minmax(360px, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .delivery__table {
    -ms-grid-columns: (261px)[2];
        grid-template-columns: repeat(2, 261px);
    grid-auto-rows: minmax(360px, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .consultation__wrapper {
    width: 930px;
    margin: 71px auto 0;
  }
  .scheme__wrapper {
    -ms-grid-columns: (254px)[2];
        grid-template-columns: repeat(2, 254px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .scheme__wrapper_2 {
    -ms-grid-columns: (254px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 254px);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer img {
    width: 70%;
  }
  .footer__title {
    margin-left: 0;
  }
  .footer__contacts {
    margin-left: 125px;
  }
  .footer_btn {
    width: 140px;
    height: 35px;
    margin-top: 18px;
  }
  .footer__divider {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -100%;
    width: 25%;
    height: 100vh;
    padding: 20px 15px;
    background-color: #6c6c6c;
    -webkit-transition: 1.5s all;
    transition: 1.5s all;
  }
  .menu_active {
    top: -45px;
    left: 490px;
    height: 340px;
  }
  .menu__item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .menu__item:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 40px;
    top: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 25px;
    height: 7px;
  }
  .hamburger span {
    display: block;
    height: 3px;
    width: 32px;
    background-color: #ffffff;
    margin-bottom: 4px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger__active span {
    margin-bottom: -2px;
  }
  .hamburger__active span:nth-child(1) {
    height: 2px;
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger__active span:nth-child(2) {
    display: none;
  }
  .hamburger__active span:nth-child(3) {
    height: 2px;
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .header__contacts {
    display: none;
  }
  .header nav .menu__link {
    font-size: 23px;
  }
  .promo {
    min-height: 725px;
  }
  .promo__title {
    font-size: 20px;
  }
  .promo__header {
    font-size: 50px;
    margin: 17px 0 0 0;
  }
  .promo__subheader {
    font-size: 28px;
  }
  .promo__divider_left {
    width: 240px;
    left: 105px;
  }
  .promo__divider_right {
    width: 240px;
    right: 105px;
  }
  .promo__advantages {
    -ms-grid-columns: (225px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 225px);
    margin-top: 55px;
  }
  .promo__item:last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .promo__btn {
    width: 210px;
    height: 49px;
  }
  .advantages__wrapper {
    -ms-grid-columns: 490px;
        grid-template-columns: 490px;
  }
  .advantages__wrapper_item {
    -ms-grid-columns: 65px 405px;
        grid-template-columns: 65px 405px;
  }
  .advantages__text {
    font-size: 12px;
  }
  .work__descr {
    -ms-grid-columns: 310px;
        grid-template-columns: 310px;
    -ms-grid-rows: 330px;
        grid-template-rows: 330px;
    grid-auto-rows: minmax(330px, auto);
  }
  .work img {
    width: 100%;
  }
  .work__subtitle {
    margin-top: 14px;
  }
  .work__text {
    font-size: 12px;
  }
  .subtitle__orange {
    font-size: 14px;
  }
  .subtitle__text {
    font-size: 15px;
  }
  .subtitle__text br {
    display: none;
  }
  .consultation__wrapper {
    width: 720px;
  }
  .consultation__triggers {
    top: 107%;
    margin-top: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .delivery__table {
    -ms-grid-columns: (242px)[2];
        grid-template-columns: repeat(2, 242px);
  }
  .delivery__btn {
    width: 140px;
    height: 40px;
    margin: 25px 51px 0 51px;
  }
  form {
    -ms-grid-columns: 270px;
        grid-template-columns: 270px;
    -ms-grid-rows: (57px)[3];
        grid-template-rows: repeat(3, 57px);
    grid-auto-rows: 60px;
    margin-bottom: 35px;
  }
  .scheme__wrapper_2 {
    gap: 30px;
  }
  .title_fz21 {
    font-size: 17px;
  }
  .title_fz26 {
    font-size: 22px;
  }
  .title_fz28 {
    font-size: 24px;
  }
  .contacts__form_qst {
    grid-auto-rows: 100px;
    margin-bottom: 30px;
  }
  .contacts__form #text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    width: 210px;
  }
  .questions {
    padding: 30px 0 40px 0;
  }
  .footer img {
    width: 60%;
  }
  .footer__title {
    font-size: 12px;
  }
  .footer__contacts {
    margin-left: 75px;
  }
  .footer__contacts_text {
    font-size: 10px;
  }
  .footer__phone {
    font-size: 13px;
  }
  .footer_btn {
    width: 125px;
    height: 30px;
    margin-top: 16px;
  }
  .footer__divider {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .hamburger {
    right: 30%;
  }
  .menu_active {
    top: -8%;
    left: 45%;
    height: 370px;
  }
  .promo {
    min-height: 735px;
  }
  .promo__title {
    font-size: 18px;
  }
  .promo__header {
    font-size: 43px;
    margin: 17px 50px 0 50px;
  }
  .promo__subheader {
    font-size: 25px;
  }
  .promo__divider_left {
    width: 150px;
  }
  .promo__divider_right {
    width: 150px;
  }
  .promo__advantages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (200px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 200px);
  }
  .promo__item_text {
    margin-top: 9px;
    font-size: 13px;
  }
  .promo__btn {
    width: 185px;
    height: 35px;
  }
  .title_fz26 {
    font-size: 19px;
  }
  .title_fz21 {
    font-size: 15px;
  }
  .title_fz21_work {
    padding: 0 60px 0 60px;
  }
  .title_fz28 {
    font-size: 21px;
  }
  .agent__icons img {
    width: 40px;
  }
  .agent__icons::before {
    width: 85px;
    height: 85px;
    margin-top: 61px;
  }
  .delivery__table {
    grid-auto-rows: minmax(340px, auto);
  }
  .delivery__item_subtitle {
    font-size: 12px;
  }
  .delivery__item_price {
    font-size: 25px;
  }
  .delivery__item_text {
    font-size: 13px;
  }
  .delivery__btn {
    margin: 20px 51px 0 51px;
  }
  .consultation__wrapper {
    width: 540px;
  }
  .manager__icons::before {
    width: 85px;
    height: 85px;
  }
  .manager__icons img {
    width: 40px;
  }
  .scheme__text {
    font-size: 12px;
  }
  .reviews__img img {
    width: 85px;
    height: 85px;
  }
  .reviews__carousel {
    width: 540px;
  }
  .reviews .slick-next {
    right: 175px;
  }
  .reviews .slick-next img {
    height: 35px;
  }
  .reviews .slick-prev {
    left: 175px;
  }
  .reviews .slick-prev img {
    height: 35px;
  }
  .reviews__text {
    width: 540px;
    font-size: 11px;
  }
  #btn {
    margin-top: -7px;
  }
  .footer__title {
    font-size: 11px;
  }
  .footer__contacts {
    margin-left: 45px;
    margin-top: -17px;
  }
  .footer__phone {
    font-size: 12px;
  }
  .footer_btn {
    top: 32px;
    margin-top: 10px;
    right: 3px;
  }
  .footer__divider {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .container_qst {
    max-width: 90%;
  }
  .hamburger {
    right: 56%;
  }
  .menu_active {
    top: -6%;
    left: 21%;
    height: 345px;
  }
  .header nav .menu__link {
    font-size: 19px;
  }
  .promo {
    min-height: 940px;
  }
  .promo__title {
    font-size: 18px;
  }
  .promo__header {
    font-size: 36px;
    margin: 17px 30px 0 30px;
  }
  .promo__subheader {
    font-size: 20px;
  }
  .promo__divider_right {
    width: 70px;
  }
  .promo__divider_left {
    width: 70px;
  }
  .promo__advantages {
    -ms-grid-columns: (322px)[1];
        grid-template-columns: repeat(1, 322px);
    grid-auto-rows: 200px;
    -ms-grid-rows: (100px)[4];
        grid-template-rows: repeat(4, 100px);
  }
  .promo__item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .promo__item:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .promo__btn {
    margin-top: 28px;
  }
  .title_fz21 {
    font-size: 14px;
    padding: 0 30px;
  }
  .title_fz26 {
    font-size: 16px;
  }
  .title_fz28 {
    font-size: 16px;
    font-weight: 700;
  }
  .subtitle__orange {
    text-align: center;
  }
  .subtitle__text {
    font-size: 12px;
    width: 343px;
    margin: 20px auto;
  }
  .advantages__wrapper {
    -ms-grid-columns: 314px;
        grid-template-columns: 314px;
  }
  .advantages__wrapper_item {
    -ms-grid-rows: (minmax(62px, auto))[2];
        grid-template-rows: repeat(2, minmax(62px, auto));
    -ms-grid-columns: 315px;
        grid-template-columns: 315px;
  }
  .advantages__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__text {
    padding: 0 16px;
  }
  .work__descr {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
  }
  .agent {
    padding-bottom: 20px;
  }
  .delivery__table {
    -ms-grid-columns: (242px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 242px);
  }
  .consultation__wrapper {
    max-width: 90%;
  }
  .scheme__wrapper {
    -ms-grid-columns: (254px)[auto-fit];
        grid-template-columns: repeat(auto-fit, 254px);
    gap: 15px;
  }
  .scheme__wrapper_2 {
    gap: 15px;
  }
  .reviews__carousel, .reviews__text {
    width: 300px;
    text-align: center;
  }
  .reviews .slick-next, .reviews .slick-prev {
    z-index: -1;
  }
  .reviews .slick-next img, .reviews .slick-prev img {
    width: 0;
  }
  .reviews .slick-next {
    right: 200px;
  }
  .footer__contacts {
    margin-left: 0;
  }
  .footer__contacts_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    top: 45px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .footer__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 50%;
    top: 60px;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .footer__title {
    width: 448px;
  }
  .footer_btn {
    top: 66px;
    margin-top: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .footer__divider {
    margin-top: 80px;
    width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */