.advantages {
    padding: 57px 0 51px 0;
    background-color: #f3f3f3;
    &__wrapper {
        display: grid;
        margin-top: 30px;
        grid-template-columns: repeat(2, 508px);
        grid-template-rows: repeat(4, minmax(65px, auto));
        grid-auto-rows: minmax(65px, auto);
        gap: 35px 62px;
        padding-left: 7px;
        &_item {
            display: grid;
            grid-template-columns: 65px 432px;
            grid-template-rows: minmax(62px, auto);
            column-gap: 17px;
        }
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        color: #3a3a3a;
        margin-top: 3px;
        line-height: 1.57;
    }
}